* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#46eefa,#5ffbf1);
  font-size: 10px;
}

.root {
  width: 70%;
  height: 90vh;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

/*HEADER============================================================================================================================*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
  font-family: "Spartan", sans-serif;
  font-size: 4.5em;
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__description {
  margin-bottom: 50px;
}

.header__text {
  font-size: 36px;
  font-weight: 500;
}

.header__buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.header__button {
  display: inline-block;
  width: 200px;
  height: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  background-image: linear-gradient(to right,#ff4e50 0%,#f9d423 51%,#ff4e50 100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: #eee;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.header__button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/*TODO-LIST============================================================================================================================*/

.todo-list {
  width: 60%;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px;
  border-radius: 20px;
}

/*CARD============================================================================================================================*/

.card {
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  opacity: 1;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.12);
  font-family: "Spartan", sans-serif;
}

.card__mark {
  width: 10px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  background-color: #f9d423;
}

.card__content {
  margin-left: 3%;
}

.card__header {
  margin-left: 60px;
  font-size: 3em;
  font-weight: 600;
}

.card__time {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 500;
  color: #c4c4c5;
}

.card__text {
  font-size: 2em;
  font-weight: 400;
}

.card__button {
  min-width: 50px;
  margin-top: 10px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  background-image: linear-gradient(to right,#ff4e50 0%,#f9d423 51%,#ff4e50 100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.card__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 3px solid #ff4e50;
}

.card__checkbox:checked + .checkbox__text:before {
  content: "\2713";
  text-align: center;
  vertical-align: top;
  font-size: 22px;
  color: #3b1ebe;
}

/*MODAL==============================================================================================================================*/

.modal {
  background: linear-gradient(to right, #e55d87 0%, #5fc3e4 51%, #e55d87 100%)
    fixed;
  border-radius: 12px;
  border: 1px solid rgb(136, 33, 165);
}

.modal__input {
  width: 90%;
  min-width: 270px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 14px;
  color: white;
  background: rgba(168, 135, 184, 0.61);
  border: 1px solid rgba(230, 190, 230, 0.815);
  outline: none;
}

.modal__input::placeholder {
  color: white;
}

.modal__buttons {
  width: 50%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
